.cards{
  background-color: black;
  margin: 10px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

#timer{
  border-style: solid;
  border-radius: 20px;
  width: 640px;
  position: relative;
  margin:auto;
  overflow: hidden;
}

.game{
  text-align: center;
}

